/* BACKGROUND */
body {
    background-color: #bebebe;
}

/* BACKGROUND IMAGE */
.logo {
    width: 100%;
    height: 300px;
    margin-top: -50px;
    background-image: url("../images/main.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* SITE NAME */
.title-box {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.title1 {
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    color: rgb(56,93,139);
    /*text-shadow: 1px 1px #d3d3d3;*/
    /*text-shadow: 1px 1px yellow;*/
    font-size: 45px;
}

.title2 {
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    color: #0099CC;
    /*text-shadow: 1px 1px #d3d3d3;*/
    font-size: 45px;
    /*border: 1px solid black;*/
}


/* SEARCH BOX */
.searchbox-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.search-one {
    border: 2px solid rgb(56,93,139);
    border-radius: 9px;
    background-color: #d3d3d3;
    width: 90%;
    height: 30px;
    outline: none;
    text-indent: 8px;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
}

.submit-one {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 36px;
    margin-left: -50px;
    background-color: #0099CC; /*rgb(56,93,139)*/
    color: white;
    font-size: 15px;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
    border: none;
    outline: none;
    border: 2px solid rgb(56,93,139);
}

/* iPhone 6 */
@media (min-width: 375px) {
    .logo {
        margin-top: -30px;
    }
}

/* iPhone 6 Plus */
@media (min-width: 414px) {
    .logo {
        margin-top: -20px;
    }
}

/* iPad */
@media (min-width: 768px) {
    .logo {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 80px;
        margin-top: 20px;
    }

    .search-one {
    width: 60%;
    }
}

/* iPad Pro */
@media (min-width: 1024px) {
    .logo {
        height: 350px;
        margin-top: -10px;
        margin-bottom: 0px;
    }

    .title {
        font-size: 100px;
        margin-top: 20px;
    }

    .search-one {
    width: 50%;
    }
}