/* BACKGROUND */
body {
    background-color: #bebebe;
}

/* LOGO */
.logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

.logo {
    width: 175px;
    height: 175px;
    margin-top: -40px;
    margin-left: -55px;
}

/* SEARCH BOX */
.searchbox-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -105px;
    margin-left: 35px;
}

.search-one {
    border-radius: 9px;
    border-width: 1px;
    border-color: slategray;
    background-color: #d3d3d3;
    width: 80%;
    height: 30px;
    outline: none;
    text-indent: 8px;
}

.submit-one {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 34px;
    margin-left: -50px;
    background-color: rgb(56,93,139); 
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, san-serif;
    border: none;
    outline: none;
}

/* DEFINITION */
.definition {
    border: 1px solid white;
    margin-top: 15px;
    text-indent: 7px;
}

/* SYNONYM */
.synonym {
    border: 1px solid white;
    text-indent: 7px;
}

/* ANTONYM */
.antonym {
    border: 1px solid white;
    text-indent: 7px;
}

/* iPad */
@media (min-width: 768px) {
    /* LOGO */
    .logo {
        width: 200px;
        height: 200px;
    }

    /* SEARCH BOX */
    .searchbox-one {
        margin-top: -125px;
        margin-left: 20px;
    }

    /* DEFINITION */
    .definition {
        margin-top: 25px;
    }
}

/* Browser Small */
@media (min-width: 1100px) {
    /* LOGO */
    .logo {
        width: 300px;
        height: 300px;
        margin-top: -60px;
        margin-left: -85px;
    }

    /* SEARCH BOX */
    .searchbox-one {
        margin-top: -180px;
        margin-left: -100px;
    }

    .search-one {
        width: 60%;
    }

    /* DEFINITION */
    .definition {
        margin-top: 50px;
    }
}

/* Browser Medium */
@media (min-width: 1350px) {
    /* LOGO */
    .logo {
        width: 400px;
        height: 400px;
        margin-top: -90px;
        margin-left: -125px;
    }

    /* SEARCH BOX */
    .searchbox-one {
        margin-top: -235px;
        margin-left: -220px;
    }

    .search-one {
        width: 50%;
    }

    /* DEFINITION */
    .definition {
        margin-top: 65px;
    }
}

/* Browser Large */
@media (min-width: 1650px) {
    /* LOGO */
    .logo {
        width: 450px;
        height: 450px;
        margin-top: -105px;
        margin-left: -145px;
    }

    /* SEARCH BOX */
    .searchbox-one {
        margin-top: -255px;
        margin-left: -480px;
    }

    .search-one {
        width: 40%;
    }

    /* DEFINITION */
    .definition {
        margin-top: 70px;
    }
}

/* Browser Extreme */
@media (min-width: 2000px) {
    /* LOGO */
    .logo {
        width: 500px;
        height: 500px;
        margin-top: -120px;
        margin-left: -170px;
    }

    /* SEARCH BOX */
    .searchbox-one {
        margin-top: -280px;
        margin-left: -720px;
    }

    .search-one {
        width: 35%;
    }

    /* DEFINITION */
    .definition {
        margin-top: 80px;
    }
}