/* BACKGROUND */
body {
    background-color: #696969;
}

/* LOGO */
.logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

.logo {
    width: 175px;
    height: 175px;
    margin-top: -40px;
    margin-left: -55px;
}

/* SEARCH BOX */
.searchbox-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -105px;
    margin-left: 35px;
}

.search-one {
    border-radius: 9px;
    border-width: 1px;
    border-color: slategray;
    background-color: #bebebe;
    width: 80%;
    height: 30px;
    outline: none;
    text-indent: 8px;
}

.submit-one {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 34px;
    margin-left: -50px;
    background-color: rgb(56,93,139); 
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, san-serif;
    border: none;
    outline: none;
}

/* DEFINITION */
.definition {
    border: 1px solid white;
    margin-top: 15px;
    text-indent: 5px;
}

/* SYNONYM */
.synonym {
    border: 1px solid white;
    text-indent: 5px;
}

/* ANTONYM */
.antonym {
    border: 1px solid white;
    text-indent: 5px;
}